.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: bisque;
}

.btn-plus {
  background-color: black;
  color: #fff;
  border-radius: 50%;
}

.btn-float {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 1000;
}
